#picture {
    float: right !important;
    margin-left: 2vw;
    width: 26vw;
}

#form {
    width: 46vw !important;
}

@media screen and (max-width: 1405px) {
    #picture {
        width: 40vw;
    }
    
    #form {
        width: 40vw !important;
    }
}

@media screen and (max-width: 1000px) {
    #picture {
        margin: 0;
        margin-right: 0;
        margin-top: 50px;
        width: 75%;
    }

    #form {
        margin-left: auto;
        margin-right: auto;
        width: 70vw !important;
    }
}
  
@media screen and (max-width: 600px) {

    #picture {
        margin-top: 50px;
        width: 50%;
    }

    #form {
        width: 85vw !important;
    }

    #info-cont {
        display: inline;
        .col {
            width: 100% !important;
        }
    }
}