<div class="wrapper">
    <app-filter-bar></app-filter-bar>

    <!-- Grid row -->
    <div class="row" *ngFor="let pic of filteredPictures; let i = index">

        <!-- Grid column -->
        <div *ngIf="i % 3 == 0 && filteredPictures[i] != undefined " class="col-md-4 mx-auto my-5">
            <a><img class="img-fluid z-depth-1" src="{{filteredPictures[i].pictureURL}}"
                    alt="Photo of {{filteredPictures[i].model}}"></a>
                <a href="/models/#{{filteredPictures[i].model}}">
                    <h5 class="font-weight-bold" style="text-align: center;">{{filteredPictures[i].model}}</h5>
                </a>
                <!-- location -->
                <a class="link-location" href="{{filteredPictures[i].locationLink}}" target="_blank">
                    <h5 class="font-weight-bold">
                        <mdb-icon fas icon="map-marker" class="blue-text icon"> </mdb-icon>
                        {{filteredPictures[i].location}}
                    </h5>
                </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div *ngIf="i % 3 == 0 && filteredPictures[i+1] != undefined " class="col-md-4 mx-auto my-5">
            <a><img class="img-fluid z-depth-1" src="{{filteredPictures[i+1].pictureURL}}"
                    alt="Photo of {{filteredPictures[i+1].model}}"></a>
            <a href="/models/#{{filteredPictures[i+1].model}}">
                <h5 class="font-weight-bold" style="text-align: center;">{{filteredPictures[i+1].model}}</h5>
            </a>
                <!-- location -->
                <a class="link-location" href="{{filteredPictures[i+1].locationLink}}" target="_blank">
                    <h5 class="font-weight-bold">
                        <mdb-icon fas icon="map-marker" class="blue-text icon"> </mdb-icon>
                        {{filteredPictures[i+1].location}}
                    </h5>
                </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div *ngIf="i % 3 == 0 && filteredPictures[i+2] != undefined " class="col-md-4 mx-auto my-5">
            <a><img class="img-fluid z-depth-1" src="{{filteredPictures[i+2].pictureURL}}"
                    alt="Photo of {{filteredPictures[i+2].model}}"></a>
            <a href="/models/#{{filteredPictures[i+2].model}}">
                <h5 class="font-weight-bold" style="text-align: center;">{{filteredPictures[i+2].model}}</h5>
            </a>                
            <!-- location -->
            <a class="link-location" href="{{filteredPictures[i+2].locationLink}}"  target="_blank">
                <h5 class="font-weight-bold">
                    <mdb-icon fas icon="map-marker" class="blue-text icon"> </mdb-icon>
                    {{filteredPictures[i+2].location}}
                </h5>
            </a>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
</div>